*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.583);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color: rgb(245, 212, 2);
    padding: 20px 40px;
    border-radius: 20px;
}
.display{
    font-size: 50px;
    font-weight: 700px;
}
.buttons{
    margin-top: 20px;
}
.btn{
    font-size: 25px;
    background: none;
    border-radius: 10px;
    background-color: var(--clr);
    padding: 12px 24px;
    margin: 8px;
    cursor: pointer;
}
